name: Release

on:
  push:
    branches:
      - release


permissions:
  id-token: write # Required for OIDC
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Setup node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'
      - name: Clear auth token for OIDC
        run: echo "NODE_AUTH_TOKEN=" >> $GITHUB_ENV
      - name: Install Dependencies
        run: pnpm i --frozen-lockfile
      - name: release
        run: pnpm publish --verbose